[Desktop Entry]
Type=Application
Name=Inicio
Comment=Inicio
Exec=/opt/icpc/bin/gnome-autostart.sh
OnlyShowIn=GNOME;Unity;
X-GNOME-Autostart-Phase=Application
X-GNOME-Autostart-enabled=true
