[Desktop Entry]
Version=1.0
Type=Application
Name=Documentación
Name[es]=Documentación
Comment=Guía del concurso, documentación
Comment[es]=Guía del concurso: documentación
Exec=firefox-esr /usr/share/doc/contest/index.html
Icon=/opt/icpc/misc/doc-icon.svg
Terminal=false
Categories=Documentation;
