[Desktop Entry]
Type=Application
Name=ICPC Bolivia Start
Comment=ICPC Bolivia setup
Exec=/opt/icpc/bin/gnome-autostart.sh
OnlyShowIn=GNOME;Unity;
X-GNOME-Autostart-Phase=Application
X-GNOME-Autostart-enabled=true
